@import 'config';
@include mediaSm {
    .btn-create-area {
        margin-top: 20px;
    }
    #register-ref {
        color: goldenrod;
    }
    #check {
        font-size: 0.7em;
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 15px;
        border-radius: 5px;
        border: none;
        width: auto;
        height: 50px;
        text-align: center;
        background: #5f6062;
        color: #fff;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 3px;
    }
    .thousand {
        padding: 10px;
        .sotka {
            line-height: 100px;
            height: 80px;
            position: relative;
        }
    }
}

@include mediaLg {
    #check {
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 15px;
        border-radius: 10px;
        border: none;
        width: 156px;
        height: 50px;
        text-align: center;
        background: #5f6062;
        color: #fff;
    }
    .btn-create-area {
        padding: 0px 40px;
    }
    .thousand {
        padding: 30px 30px 10px 30px;
        justify-content: space-around;
        .sotka {
            height: 80px;
            position: relative;
            &::before {
                content: "|";
                display: inline-block;
                vertical-align: middle;
                opacity: 0.5;
                position: absolute;
                left: -40px;
                top: -1px;
            }
            &::after {
                content: "+";
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                padding-left: 3px;
            }
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 12px;
        grid-auto-columns: minmax(60px, 80px);
    }
    .what-djino,
    .super-djino {
        font-size: 1.2em;
    }
    .thousand {
        font-size: 1em;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 1092px;
        min-width: 819px;
        width: 90%;
    }
    .headline-1,
    .headline-2 {
        font-size: 1.8em;
    }
    .explanation-note {
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 90px;
            top: -41px;
            border: 20px solid transparent;
            border-bottom: 20px solid #afafb0;
        }
    }
}

@include mediaXl {
    #check {
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 15px;
        border-radius: 10px;
        border: none;
        width: 156px;
        height: 50px;
        text-align: center;
        background: #5f6062;
        color: #fff;
    }
    .btn-create-area {
        padding: 0px 40px;
    }
    .thousand {
        padding: 30px 30px 10px 30px;
        justify-content: space-around;
        .sotka {
            height: 80px;
            position: relative;
            &::before {
                content: "|";
                display: inline-block;
                vertical-align: middle;
                opacity: 0.5;
                position: absolute;
                left: -40px;
                top: -1px;
            }
            &::after {
                content: "+";
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                padding-left: 3px;
            }
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        grid-gap: 12px;
    }
    .what-djino,
    .super-djino {
        font-size: 1.4em;
    }
    .thousand {
        font-size: 1.2em;
        .sotka {
            font-size: 2em;
        }
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 1092px;
        min-width: 819px;
        width: 90%;
    }
    .headline-1,
    .headline-2 {
        font-size: 2em;
    }
    .explanation-note {
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 115px;
            top: -41px;
            border: 20px solid transparent;
            border-bottom: 20px solid #afafb0;
        }
    }
}

@include mediaMd {
    #check {
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 15px;
        border-radius: 10px;
        border: none;
        width: 156px;
        height: 50px;
        text-align: center;
        background: #5f6062;
        color: #fff;
    }
    .thousand {
        padding: 30px 10px 20px 10px;
        justify-content: space-around;
        .sotka {
            height: 80px;
            position: relative;
            line-height: 50px;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 9px;
    }
    .container {
        margin-right: 20px;
        margin-left: 20px;
        width: auto;
    }
    .headline-1,
    .headline-2 {
        font-size: 1.5em;
    }
    .copy-right {
        font-size: 0.8em;
    }
    .thousand {
        font-size: 1em;
    }
    .explanation-note {
        font-size: 0.8em;
    }
    .explanation-note {
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 65px;
            top: -41px;
            border: 20px solid transparent;
            border-bottom: 20px solid #afafb0;
        }
    }
}