@import 'config';

*{
    box-sizing: border-box;
}
body{
    margin:0px;
    
}
h1{
    padding:0px;
    margin:0px;
}
header{
    background:url("../background1.jpg");
}
.container{
    margin:0px auto;
    max-width: 1092px;
    min-width:819px;   
}
.no-gap{
    grid-gap: 0px !important ;
}
.grid{
    margin:0 auto;
    max-width: 1092px;
    // min-width: 819px;
    display:grid;
    
    grid-template-columns:repeat(12 , 80px);
    // grid-auto-columns: minmax(60px, 80px);
    grid-gap: 12px;   
}

.top-left{
    &::before{
        content:url("data:image/svg+xml; utf8, #{$SVG}");
        display:inline-block;
        vertical-align: sub;       
    }
}

.check-domain{
    position: relative;
    top:5px;
    #header-input{
        width: 100%;
        border-radius: 10px;
        border:none;
        background:#ffff;
        height: 80px;
        &::-webkit-input-placeholder{
            color:black;        
        }
        padding-left:36px;    
    }
    #check{
        cursor: pointer;
        position: absolute;
        top:14px;
        right: 15px;
        border-radius: 10px;
        border:none;
        width:156px;
        height: 50px;
        text-align: center;
        background: grey;
        color:#fff;       
    }  
}

.free-register{
    background-color:grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align:center;
    height: 45px;
}

.btn-create-area{
    padding:0px 45px;
    #btn-create{
        width: 100%;
        background-color:#77b53c;
        border-radius: 10px;
        border:none;
        cursor:pointer;
        color:#fff;
        height: 54px;
    }
}

.down-picture{
    text-align: center;
}





.test{
    grid-column: 1/3;
    grid-column: 1/3;
    grid-column-start: 2;
}







