@import 'config';
@import 'media';
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    @include PTSansStandart;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    padding: 0px;
    margin: 0px;
}

// .grid{
//     display:grid;
//     grid-template-columns:repeat(12 , 1fr);
//     grid-gap: 12px;
//     grid-auto-columns: minmax(60px,80px);
// }
// LOGO TOP  ====== LOGO TOP 
.header-top {
    padding-top: 25px;
    padding-bottom: 120px;
    font-size: 13px;
    @include Bold;
    .top-left {
        &::before {
            content: url("data:image/svg+xml; utf8, #{$SVG-LOGO}");
            display: inline-block;
            vertical-align: sub;
            padding-right: 5px;
        }
    }
}

// HEADER === HEADER === HEADER
.bg-header {
    background: url("../background1.jpg");
    background-attachment: local;
    background-size: cover;
    height: 843px;
    color: #fff;
    .headline-1,
    .headline-2 {
        text-align: center;
        @include Bold;
        font-stretch: ultra-expanded;
    }
    .check-domain {
        margin-top: 60px;
        position: relative;
        top: 5px;
        z-index: 100;
        #header-input {
            font-size: 22px;
            width: 100%;
            border-radius: 10px;
            border: none;
            background: #ffff;
            height: 80px;
            &::-webkit-input-placeholder {
                color: black;
            }
            padding-left:36px;
        }
    }
    .free-register {
        line-height: 45px;
        background-color: #32373e;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        height: 45px;
        opacity: 0.8;
        & a {
            color: green;
            padding-left: 5px;
        }
    }
    .check-domain-bottom {
        padding-bottom: 35px;
    }
    .down-picture {
        text-align: center;
        margin-top: 135px;
    }
}

// SECTION MAIN ======SECTION MAIN ======SECTION MAIN ======
#main {
    font-size: 16px;
    color: #333333;
    .headline {
        padding: 0px 35px;
        font-size: 33px;
        @include Bold;
        padding-bottom: 70px;
        text-align: center;
    }
    .under-svg-text {
        text-align: center;
        padding-bottom: 35px;
    }
    .line-svg {
        text-align: center;
        padding-bottom: 23px;
    }
    .note {
        padding-bottom: 33px;
    }
    .btn-green {
        margin-top: 30px;
        padding-bottom: 70px;
    }
    .explanation-note {
        position: relative;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #afafb0;
        padding: 30px 55px 46px 44px;
        background: #f7f7f7;
        &::after {
            border-bottom: 20px solid #f7f7f7;
            top: -39px;
        }
    }
}

.btn-create-area {
    #btn-create {
        width: 100%;
        background-color: #77b53c;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        color: #fff;
        height: 54px;
    }
}

// FOOTER-AREA-1000+   FOOTER-AREA-1000+   FOOTER-AREA-1000+   FOOTER-AREA-1000+   FOOTER-AREA-1000+   
.bg-footer {
    background: url("../background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    .what-djino {
        @include Bold;
        text-align: center;
        padding-bottom: 30px;
    }
    .super-djino {
        @include Bold;
        text-align: center;
    }
    .header-footer {
        padding-top: 25px;
        padding-bottom: 60px;
        font-size: 13px;
        @include Bold;
        .top-left {
            &::before {
                content: url("data:image/svg+xml; utf8, #{$SVG-LOGO}");
                display: inline-block;
                vertical-align: sub;
                padding-right: 5px;
            }
        }
    }
    .footer-create {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .thousand {
        width: 100%;
        border-radius: 5px;
        background: #df4a5e;
        color: white;
        display: flex;
        #plus {
            border-bottom: 1px solid #fff;
        }
        span {
            font-weight: 800;
        }
        .sotka {
            position: relative;
        }
    }
    .copy-right {
        text-align: center;
        color: #b2ccee;
        padding: 50px 0px;
        span {
            border-bottom: 1px solid #aec6e8;
        }
    }
}