@import 'config';

*{
    box-sizing: border-box;
}
body{
    margin:0px;
    
}
h1{
    padding:0px;
    margin:0px;
}
header{
    width:100%;
    background:url("../background1.jpg");
}
.wrapper{
    background:url("../background1.jpg");
    background-attachment: fixed;
    background-size: cover;
    height:843px;
    width:100%;
}
.container{
    margin:0px auto;
    max-width: 1092px;
    min-width:819px;   
}
.no-gap{
    grid-gap: 0px !important ;
}
.grid-container{
    margin:0 auto;
    max-width: 1092px;
    min-width: 819px;
    display:grid;
    grid-template-columns:repeat(12 , 80px);
    // grid-auto-columns: minmax(60px, 80px);
    grid-gap: 12px; 
}
.grid{
    margin:0 auto;
    // max-width: 1092px;
    // min-width: 819px;
    display:grid;
    
    grid-template-columns:repeat(12 , 80px);
    // grid-auto-columns: minmax(60px, 80px);
    grid-gap: 12px;   
}

.top-left{
    &::before{
        content:url("data:image/svg+xml; utf8, #{$SVG}");
        display:inline-block;
        vertical-align: sub;       
    }
}

.check-domain{
    position: relative;
    top:5px;
    #header-input{
        width: 100%;
        border-radius: 10px;
        border:none;
        background:#ffff;
        height: 80px;
        &::-webkit-input-placeholder{
            color:black;        
        }
        padding-left:36px;    
    }
    #check{
        cursor: pointer;
        position: absolute;
        top:14px;
        right: 15px;
        border-radius: 10px;
        border:none;
        width:156px;
        height: 50px;
        text-align: center;
        background: grey;
        color:#fff;       
    }  
}

.free-register{
    background-color:grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align:center;
    height: 45px;
}

.btn-create-area{
    padding:0px 45px;
    #btn-create{
        width: 100%;
        background-color:#77b53c;
        border-radius: 10px;
        border:none;
        cursor:pointer;
        color:#fff;
        height: 54px;
    }
}


// SECTION 1 MAIN  ======= SECTION 1 MAIN  ======= SECTION 1 MAIN  ======= 
.under-svg-text{
    text-align: center;
}
.line-svg{
    text-align: center;
}

.explanation-note{
    position:relative;
    height: 125px;
    width: 100%;
    border-radius: 10px;
    border:1px solid #afafb0;
    padding:30px 55px 46px 44px;
    background: #f7f7f7;
    &::before,&::after{
        content: ''; 
        position: absolute;
        left: 115px; top: -41px;
        border: 20px solid transparent;
        border-bottom: 20px solid #afafb0;
        
    }
    &::after{
        border-bottom: 20px solid #f7f7f7;
        top: -39px; 
    }

}



.headline{
    padding:0px 33px;
}


// FOOTER-AREA-1000+   FOOTER-AREA-1000+   FOOTER-AREA-1000+   FOOTER-AREA-1000+   FOOTER-AREA-1000+   
.fotter-area{
    .super-djino ,.what-djino{
        text-align: center;
        
    }
    .thousand{
        width: 100%;
        height: 110px;
        padding:30px 60px 30px 40px;
        border-radius: 5px;
        background:#df4a5e;
        color:white;
        line-height: 22px;
        
        #plus{
            border-bottom: 1px solid #fff;
        }
        span{
            font-weight: 800;
            
        }
        .sotka{
            float: right;
            font-size: 50px;
            line-height: 0px;

            
        }
        
    }
}




